@import '../styles/global.css';

.about-header {
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(../images/KidsLibrary.webp);
}
.mission {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0;
  position: relative;
  height: 200px;
}
.mission h1 {
  color: #fff;
  margin-bottom: 40px;
  padding: 0;
}
.text-block {
  background-color: #F9F9F9;
   border-radius: 20px;
  width: 60%;
  padding: 10px;
  height: 160px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.text-block h2 {
  color: #159947;
  font-weight: bolder;
  font-size: 2rem;
  text-transform: uppercase;
}
.text-block p {
  color: #707070;
  font-size: 1.3rem;
  letter-spacing: 1px;
  font-weight: bold;
  line-height: 40px;
}
.about-text {
  column-count: 2;
  column-gap: 30px;
  padding: 0 4%;
  line-height: 35px;
  text-align: justify;
}
.about-text span {
  font-size: 1.3rem;
  font-weight: bold;
}
.about-text a {
  text-decoration: none;
}
.proprietor-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  float: right;
}
.proprietor {
  margin-top: 50px;
}
.proprietor-img {
  margin: auto;
}
.proprietor-img img {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  border: 2px solid green;
  margin: auto;
}
.lead {
  font-weight: bold;
  list-style-type: none;
  color: #fe6500;
}
.proprietor ul {
  list-style-type: disc;
  font-size: 0.75rem;
  line-height: 20px;
}
.proprietor h5 {
  text-align: right;
  font-weight: bold;
  color: #159947;
}
.container {
  padding: 0;
}
h2.text-center{
  color: #159947;
}
.accordion-body{
  color: #707070;
}
@media (max-width: 700px) {
  .about-text {
    column-count: 1;
    column-gap: 30px;
  }
  .about-text span {
    text-align: center;
  }
}
