@import '../styles/global.css';

.services-header {
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(../images/SERVICES.webp);
}
.services-container{
  display: flex;
  margin-top: 20px;
  padding: 10px;
  gap: 10px;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
}
.services-heading{
  width: 100%;
}
.services-box{
  border: 2px solid #159947;
  border-radius: 20px;
  width: 390px;
  word-wrap: break-word;
  padding: 0px 20px;
  margin: 0px auto 40px;
}
.services-text{
  color: #fe6500;
  text-align: justify;
  font-weight: bold;
  line-height: 30px;
}
.services-text p a{
  color: #159947;
}
.services-text p a:hover{
  color: blue;
}
@media (max-width: 450px){
  .services-box{
    width: 95%;
  }
}